.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Objective-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo-image {
  width: 110px;
  height: auto;
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav-links a {
  color: #ffffff;
  margin: 0 20px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  align-items: center;
  font-family: "Objective-Light";
}

.nav-links :hover::before {
  content: '';
  position: absolute;
  width: 125%;
  height: 5px;
  background: linear-gradient(90deg, #2ea9a780 0%, #69d9db7e 50%, #24a09e7e 100%);
  top: -10px;
  left: 0;
  color: #737373;
  transform: translateX(-10%);
}

.nav-links .active {
  font-family: "Objective-Bold";
  color: white;
}

.nav-links .active::before {
  content: '';
  position: absolute;
  width: 125%;
  height: 5px;
  background: linear-gradient(90deg, #2EA9A6 0%, #69DADB 50%, #24A09D 100%);
  top: -10px;
  left: 0;
  color: #737373;
  transform: translateX(-10%);
}

/* Hide the mobile navbar by default */
.mobile-navbar {
  display: none;
}



/* Dot Container Styles */
.dot-container {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Vertically centers the dots */
  width: 160px;
  background-color: rgba(163, 163, 163, 0.5);
  padding: 5px 2px 5px 2px;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.inactive-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%; /* Ensure the dot is perfectly round */
  background-color: #c4c4c4;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.inactive-dot:hover {
  background-color: #a0a0a0;
}

/* Active dot */
.active-dot {
  width: 11px; /* Slightly bigger size for active dot */
  height: 11px;
  border-radius: 11px;
  background-color: #ffffff; /* White color for active dot */
}




/* Add this to CustomNavbar.css */

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 80px; /* Adjust as necessary */
}

.social-logo {
  width: 24px; /* Adjust size as needed */
  height: auto;
  margin-left: 45px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-logo:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}





/* Hide the mobile navbar by default */
.mobile-navbar {
  display: none;
}



/* Show the mobile navbar on small screens */
@media (max-width: 768px) {
  div.navbar.desktop-navbar {
    display: none;
  }
  .mr-auto {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  /* Position the dot-container below the mobile navbar */
  .dot-container {
    position: relative;
    top: 530px;
    margin-top: 10px;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }

  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; /* Adjust padding for better alignment */
    background-color: black;
    width: 100%; /* Ensure the navbar takes full width of the screen */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    z-index: 1000;
    overflow-y: hidden;
  }

  .navbar-logo img {
    height: 50px; /* Size of the logo */
  }

  .hamburger span {
    width: 30px;
    height: 3px;
    background-color: #a3a3a3; /* Color of the hamburger icon */
    border-radius: 2px;
    transition: transform 0.3s ease;
    transition: all 0.3s ease;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1001;
    animation: inverseSpin 0.5s forwards;
    margin-right: 20px;
  }



  .hamburger.open{
    animation: spin 0.5s forwards;

  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 4.5px);
    z-index: 1001;
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -5px);
    z-index: 1001;
  }
  .navbar-links {
    position: fixed;
    top: -10px;
    right: -200%;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;
    font-family: "Objective-Medium";
    overflow-y: hidden;
    padding-bottom: 100px;
  }

  ul.navbar-links.open {
    right: 0;
    overflow-y: hidden;
  }

  .navbar-links li {
    padding: 30px 0;
  }

  .navbar-links a {
    font-size: 20px;
    color: #ffffff; /* White color for text */
    font-weight: 400;
    text-decoration: none;
  }

  .navbar-links a.active {
    color: #69dadb; /* Active link color */
  }

  /* Social icons */
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    margin-left: -10px;
    margin-right: 30px; /* Adjust as necessary */

  }

  img.social-logo {
    width: 35px;
    height: auto;
    cursor: pointer;
  }


  .social-logo:hover {
    transform: scale(1.1); /* Slight zoom effect */
  }

  .dot-container {
    position: fixed;
    width: 120px; /* Further reduce width for smaller screens */
    padding: 6px; /* Adjust padding */
    height: 10px;
    margin-top: 100px;
  }

  .inactive-dot, .active-dot {
    width: 6px; /* Further reduce dot size */
    height: 6px;
  }

  .active-dot {
    width: 8px; /* Active dot size is slightly bigger */
    height: 8px;
  }

  /* Animations */

  @keyframes slideIn {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideOut {
    from {
      right: 0;
    }
    to {
      right: -100%;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes inverseSpin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

}