
@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Extra-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 40px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.footer-left {
  flex: 1;
}

.footer-logo {
  width: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  margin-left: 2vw;
}

.footer-middle {
  display: flex;
  flex: 2;
  justify-content: space-around;
  text-align: left;
  color: #737373;
  margin-left: -200px;
}

.footer-menu, .footer-info {
  display: flex;
  flex-direction: column;
  color: #737373;
  font-style: normal;
  line-height: 20px;
}

.footer-info {
  margin-left: -200px;
}

.footer-menu h3, .footer-info h3 {
  margin-bottom: 10px;
  font-family: "Objective-Bold";
  font-size: 15px;
}

.footer-menu ul, .footer-info ul {
  list-style: none;
  padding: 0;
  font-family: "Objective-Extra-Light";
}

.footer-menu li, .footer-info li {
  margin-bottom: 10px;
}

.footer-menu a, .footer-info a {
  color: #737373;
  text-decoration: none;
}
.footer-right {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -20px; 
  margin-right: 110px; 
}

.scroll-to-top {
  background-color: white;
  color: #737373;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Objective-Bold";
}

.arrow-icon {
  width: 12px;
  height: 15px;
  margin-left: 5px;
}

.footer-powered-by {
  color: #737373;
  margin-top: 80px;
  padding: 0px 0px;
  margin-right: -3px;
  font-size: 16px;
  font-family: "Objective-Extra-Light";
}

@media (max-width: 768px) {
  footer.footer{
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .footer-left{
    margin-right: 40px;
    margin-left: -40px;
    padding-top: 10px;
  }
  .footer-logo {
    width: 70px;
    padding-top: -20px;
    padding-bottom: 20px;
    height: auto;
  }

  .footer-menu, .footer-info {
    display: flex;
    flex-direction: column;
    color: #737373;
    line-height: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
  }

  .footer-menu{
    margin-right: 75px;
  }

  .footer-info{
    margin-right: -30px;
    margin-left: 0px;
  }

  .footer-menu h3, .footer-info h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 15px;
  }

  .footer-middle{
    margin-top: 30px;
    margin-left: 0px;
  }
  .footer-right{
    margin-right: -20px;
  }

  .scroll-to-top {
    margin-top: -210px;
    margin-bottom: 310px;
    padding: 10px 29px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .footer-powered-by{
    font-family: "Inter", sans-serif;
    margin-top: 160px;
    margin-bottom: -240px;
    padding-bottom: 20px;
    font-size: 15px;
  }

}
