
@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Extra-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px 40px;
}


.footer-powered-by {
  color: #ffffff;
  margin-top: 0px;
  padding: 0px 0px;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
}

@media (max-width: 768px) {
  footer.footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-powered-by{
    font-family: "Objective-Extra-Light";
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-size: 15px;
  }

}
