body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.home-main-wrapper {
  overflow-x: hidden;
}
@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Medium";
  src: url("../../public/static/fonts/Objective-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Extra-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


.carousel-container{
  display: none;
}
.home-page {
  background-image: url("../../public/static/images/Home/home-bg-v2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content {
  text-align: left;
  color: white;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  max-width: 700px;
  margin-left: 5vw;
  margin-top: -180px;

}

img.scrolldown-indicator-logo{
  position: absolute;
  bottom: 150px;
  left: 6%;
}

img.home-key-logo{
  min-width: 330px;
  max-width: 340px;
  margin-bottom: 30px;
}
    
.home-content h1 {
  font-size: 45px;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: "Objective-Bold";
}

.home-content h2 {
  font-size: 23px;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: "Objective-Medium";
}

.home-content h3 {
  font-size: 15px;
  margin-bottom: -5px;
  margin-top: 0;
  font-family: "Objective-Light";
}



button.home-btn-download {
  font-size: 20px;
  margin-bottom: 30px;
  margin-right: 300px;
  margin-top: 60px;
  background-color: #4BC0C0;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  left: 6%;
  cursor: pointer;
  font-family: "Objective-Bold", sans-serif;
  z-index: 1;
}

.home-btn-download:hover {
  background-color: rgb(105, 180, 177);
}


.home-dot-container-center {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.home-dot-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #D9D9D9;
  border-radius: 50px;
  width: 240px;
  height: 50px;
}

.home-dot {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 17px 7px 10px 7px;
  transition: transform 0.3s ease;
}

.home-dot.home-activeSlide {
  transform: scale(1.5);
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 23px;
  height: 14px;
}

/* General Styles for Desktop */
.explore-app-section {
  background-color: #000;
  padding: 50px 20px;
  text-align: center;
}

.explore-app-section h2 {
  color: white;
  font-size: 60px;
  font-family: "Objective-Bold";
  margin-top: 40px;
}

.app-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  padding-top: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.app-image {
  position: relative;
  overflow: hidden;
}

.app-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.app-image img:hover {
  transform: scale(1.05);
}

.app-image-moved {
  position: relative;
  overflow: hidden;
  margin-top: -170px;
}

.app-image-moved img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.app-image-moved img:hover {
  transform: scale(1.05);
}

.app-image-moved2 {
  position: relative;
  overflow: hidden;
  margin-top: -200px;
}

.app-image-moved2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.app-image-moved2 img:hover {
  transform: scale(1.05);
}


.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the popup appears above other content */
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  transition: transform 0.3s ease; /* Smooth transition for zoom */
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
  z-index: 1001; /* Above the popup background */
}

.zoom-controls {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 10px; /* Spacing between buttons */
  z-index: 1002; /* Above the popup background */
}

.zoom-button {
  padding: 10px 20px;
  width: 50px;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  border: 0.5px solid #1a1a1a;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.zoom-button:hover {
  background-color: #2e2e2e; /* Lighter color on hover */
}


@media (max-width: 768px) {

  .home-main-wrapper {
    margin-top: -0px;
  }
  .home-page {
    margin-top: -90px;
    background-image: url("../../public/static/images/Home/home-bg-mobile.svg");
  }
  img.home-key-logo{
    min-width: 220px;
    max-width: 230px;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  .home-content {
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    max-width: 700px;
    margin-left: 2vw;
    margin-top: 0vh;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
      
  .home-content h1 {
    font-size: 30px;
    margin-bottom: -5px;
    margin-top: 0;
    font-family: "Objective-Bold";
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74); /* Add shadow */

  }

  .home-content h2 {
    font-size: 18px;
  }

  
  .home-content h3 {
    font-size: 12px;
    font-family: "Objective-Extra-Light";
  }
  
  .home-content p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Objective-Extra-Light";
  }


  button.home-btn-download {
    position: absolute; 
    font-size: 18px;
    width: 180px;
    padding: 20px 10px;
    margin-top: 0px;
    left: 50%;
    height: 55px;
    transform: translateX(-50%);
    display: block;
    bottom: 50px; 
  }
  .app-image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }

  .explore-app-section h2 {
    color: white;
    font-size: 40px;
  }

  .app-image {
    width: 350px; /* Force all images to 200px width */
  }

  .app-image img {
    width: 100%; /* Ensure the image fits within the 200px container */
    height: auto;
    object-fit: none;
  }

  .app-image img:hover {
    transform: none;
  }

  .app-image-moved {
    width: 350px; /* Force all images to 200px width */
    margin-top: 0;
  }

  .app-image-moved img {
    width: 100%; /* Ensure the image fits within the 200px container */
    height: auto;
    object-fit: cover;
  }

  .app-image-moved2 {
    width: 350px; /* Force all images to 200px width */
    margin-top: 0;
  }

  .app-image-moved2 img {
    width: 100%; /* Ensure the image fits within the 200px container */
    height: auto;
    object-fit: cover;
    
  }

  img.scrolldown-indicator-logo{
    bottom: 30px;
    left: 21%;
  }
}
