body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Objective-Extra-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.home-page {
  background-image: url("../../public/static/images/Home/home-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content {
  text-align: left;
  color: white;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  max-width: 700px;
  margin-left: 5vw;
}
    
.home-content h1 {
  font-size: 58px;
  margin-bottom: -5px;
  margin-top: 0;
  font-family: "Objective-Bold";
}

.home-content p {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Objective-Extra-Light";
}

.features-section {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
  margin-top: 20px;
}

.features-section h2 {
  color: #959595;
  margin-bottom: -40px;
  font-size: 50px;
  font-family: "Objective-Bold";
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
  gap: 20px;
}

.feature {
  display: flex;
  background-color: #F3F3F3;
  color: #959595;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2px;
  max-width: 650px; 
  text-align: left;
  align-items: center;
}

.feature-image {
  width: 250px;
  height: auto;
  margin-right: 20px;

}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.feature h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Objective-Bold";
}

.feature p {
  margin: 10px 30px 0 0;
  font-size: 20px;
  line-height: 1.5;
  max-width: 340px;
  font-family: "Objective-Extra-Light";
}

.digital-assets-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.digital-assets-section h2 {
  margin-bottom: -40px;
  color: #959595;
  font-size: 50px;
  font-family: "Objective-Bold";
}

.digital-assets-image {
  max-width: 100%;
  height: auto;
  margin-top: 120px;
}




.trustedby-section {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
  margin-top: 20px;
}

.trustedby-section h2 {
  color: #959595;
  margin-bottom: -40px;
  font-size: 50px;
  font-family: "Objective-Bold";
}

.trustedby-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;
  gap: 30px;
}

.trustedby-feature {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  color: #959595;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2px;
  max-width: 550px; 
  text-align: center;
  align-items: center;
  padding: 20px;
}

.trustedby-image {
  width: 550px;
  height: auto;
  margin-bottom: 20px;
}

.trustedby-feature h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Objective-Bold";
}

.trustedby-feature p {
  margin: 10px 0 0;
  font-size: 18px;
  font-family: "Objective-Extra-Light";
  line-height: 1.5;
}
