
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Objective-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo-image {
  width: 150px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nav-links a {
  color: #737373;
  margin: 0 30px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  align-items: center;
  font-family: "Objective-Light";
}

.nav-links .active {
  font-family: "Objective-Bold";
  color: white;
}

.nav-links .active::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 5px;
  background: linear-gradient(90deg, #2EA9A6 0%, #69DADB 50%, #24A09D 100%);
  top: -12px;
  left: 0;
  color: #737373;
  transform: translateX(-5%);
}
