body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.security-main-wrapper {
  overflow-x: hidden;
}
@font-face {
  font-family: "Objective-Bold";
  src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Medium";
  src: url("../../public/static/fonts/Objective-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Objective-Extra-Light";
  src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


.carousel-container{
  display: none;
}
.security-page {
  background-image: url("../../public/static/images/Security/security-bg.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.security-content {
  text-align: left;
  color: white;
  padding: 20px;
  margin: 0 20px;
  border-radius: 10px;
  max-width: 700px;
  margin-left: 5vw;
  margin-top: 0px;

}

img.scrolldown-indicator-logo{
  margin-top: 20px;
  max-width: 250px;
}

.security-content h1 {
  font-size: 70px;
  margin-bottom: 0px;
  margin-top: 0;
  font-family: "Objective-Bold";
}

.security-content h2 {
  font-size: 55px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Objective-Medium";
}
.security-content p{
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 130px;
  max-width: 600px;
  font-family: "Objective-Light";
}

/* Safety First Section */
.safety-section {
  background-color: #000;
  padding: 80px 20px;
  text-align: center;
}

.safety-section h2 {
  color: white;
  font-size: 48px;
  font-family: "Objective-Bold";
  margin-bottom: 50px;
}

.safety-feature-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.safety-feature {
  background-color: #333;
  color: white;
  padding: 0px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.safety-feature img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.safety-feature h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Objective-Bold";
}

.safety-feature p {
  font-size: 14px;
  line-height: 1.6;
  padding: 0 20px;
  font-family: "Objective-Light";
}

/* Digital Security Section */
.digital-security-section {
  background-color: #000;
  padding: 80px 20px;
  text-align: center;
}

.digital-security-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digital-security-image {
  width: 500px;
  height: auto;
  margin-bottom: 30px;
}

.digital-security-text {
  color: #24D1D1;
  font-size: 34px;
  line-height: 1.5;
  max-width: 800px;
  font-family: "Objective-Medium";
  margin: 0 auto;
}


button.security-btn-download {
  font-size: 20px;
  margin-bottom: 30px;
  margin-right: 300px;
  margin-top: 60px;
  background-color: #4BC0C0;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  left: 6%;
  cursor: pointer;
  font-family: "Objective-Bold", sans-serif;
  z-index: 1;
}

.security-btn-download:hover {
  background-color: rgb(105, 180, 177);
}

@media (max-width: 768px) {

  .security-page{
    margin-top: -130px;
    padding-bottom: 100px;
    background-image: url("../../public/static/images/Security/security-bg-mobile-v2.jpg");
  }
  .safety-feature-grid {
    flex-direction: column;
    align-items: center;
  }

  .security-content{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 330px;
  }

  .security-content h1 {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274); /* Add shadow */

  }

  .security-content h2 {
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438); /* Add shadow */

  }

  .security-content p{
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247); /* Add shadow */

  }

  .safety-feature {
    width: 100%;
    max-width: 400px;
  }

  .digital-security-image {
    width: 250px;
  }

  .digital-security-text {
    font-size: 20px;
  }

  button.security-btn-download {
    position: absolute; 
    font-size: 18px;
    width: 180px;
    padding: 20px 10px;
    margin-top: 0px;
    left: 50%;
    height: 55px;
    transform: translateX(-50%);
    display: block;
    bottom: 50px; 
  }

  img.scrolldown-indicator-logo{
    bottom: 30px;
    left: 21%;
  }
}
