body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .vision-main-wrapper {
    overflow-x: hidden;
  }
  @font-face {
    font-family: "Objective-Bold";
    src: url("../../public/static/fonts/Objective-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Objective-Medium";
    src: url("../../public/static/fonts/Objective-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Objective-Extra-Light";
    src: url("../../public/static/fonts/Objective-Light.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  
  .carousel-container{
    display: none;
  }
  .vision-page {
    background-image: url("../../public/static/images/Vision/vision-bg.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vision-content {
    text-align: left;
    color: white;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    max-width: 700px;
    margin-left: 5vw;
    margin-top: -150px;
  
  }
  
  img.scrolldown-indicator-logo{
    margin-top: 20px;
    max-width: 250px;
  }

      
  .vision-content h1 {
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0;
    font-family: "Objective-Bold";
  }
  
  .vision-content h2 {
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0;
    font-family: "Objective-Medium";
  }

  .vision-content p{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 130px;
    max-width: 600px;
    font-family: "Objective-Extra-Light";
  }
  
  
  button.vision-btn-download {
    font-size: 25px;
    margin-bottom: 30px;
    margin-right: 300px;
    margin-top: 60px;
    background-color: #4BC0C0;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    left: 6%;
    cursor: pointer;
    font-family: "Objective-Bold", sans-serif;
    z-index: 1;
  }
  
  .vision-btn-download:hover {
    background-color: rgb(105, 180, 177);
  }


  /* Mobile Styles */
@media (max-width: 768px) {
    .vision-main-wrapper {
      margin-top: -30px;
      z-index: 1;
    }
    .vision-page {
      background-image: url("../../public/static/images/Vision/vision-bg-mobile.png");
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;
      height: 100vh; /* This to 105 shows the full image */
      margin-top: -90px; /*No puede ser MENOR*/
    }
  
    .vision-content {
      margin-top: -100px; /* Adjust margin for smaller screens */
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .vision-content h1 {
      font-size: 50px; /* Smaller font size for mobile */
      margin-top: 250px;
    }
  
    .vision-content h2 {
      font-size: 20px; /* Smaller font size for mobile */
    }
  
    .vision-content p {
      font-size: 16px; /* Adjust text size for mobile */
      max-width: 100%; /* Allow full width for text */
      margin-top: 10px;
    }
  
    button.vision-btn-download {
        position: absolute; 
        font-size: 20px;
        width: 250px;
        padding: 25px 20px;
        margin-top: 20px;
        left: 50%;
        height: 65px;
        transform: translateX(-50%);
        display: block;
        bottom: 50px; 
      }
      
  }